# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


#This is the git ignore file used in Duck Hunted
#Note that ! negates an ignore. We ignore everything in Library then
#un-ignore the metadata folder and some specific files
#Use at your own risk, this may totally destroy your project, but it worked for us
 

#NOTE: this will cause your collaborators to re-import assets periodically
src/Temp/*
src/Library/*
src/Build/*
#Un-ignore these specific files
!src/Library/*.asset
!src/Library/AssetImportState
!src/Library/AssetVersioning.db
!src/Library/BuildPlayer.prefs
!src/Library/ScriptMapper
!src/Library/assetservercachev3
!src/Library/expandedItems
!src/Library/guidmapper
!src/Library/unity default resources
!src/Library/unity editor resources
!src/Library/metadata/
 

#ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb
*.userprefs